<br /><h2 style="text-align: left;">Game is starting...</h2>
<p style="text-align: left;">Choose a box number between 1 and 22:</p>
<div class="choose_box">
  <form action="/choose_box" name="myForm" onsubmit="return validateForm()" method="post" autocomplete="off"><br />
    <input type="text" name="chosenbox" style="color: black; text-align: center; background-color: white; font-weight: normal; background: ; cursor: default; padding: 15px; font-size: 12pt;"/><br />
    <input type="submit" value="Start" style="border: double; margin: 15px; font-size: 12pt"><br />
  </form>
</div>
