<br /><br /><br />
<div class="offer">
  <br /><h2>Banker offer is ...</h2><br />
  <form action="/offer" method="post">
    <%= banker_offer %><br /><br />
    <button type="button" style="background-color: rgb(80, 148, 219); " onclick="location.href='/offer/deal'">Deal</button>
    <button type="button" style="background-color: rgb(117, 50, 43);" onclick="location.href='/offer/nodeal'">No Deal</button><br /><br />
  </form>
</div>
